/node_modules
/.next
/out
/build
.DS_Store
*.pem
npm-debug.log*

# Environment variables
.env
.env.*
.env*.local
*.env

# Database / Schema
*.sql
*.schema.sql
prisma/schema.prisma
prisma/seed.ts

# Supabase
supabase/

# Docs
README.md

next-env.d.ts

.vercel
